.jumbotron {
    color: white;
    font-size: 200%;

    padding: 20px;
    border-radius: 5px;
}

.h1 {
    font-weight: bolder;
}

#card2 {
    display: flex;
}

#displayCountdown {
    padding-left: 50px;
    color: white;
    font-size: 80px;
    position: absolute;
    top: 407px;
    font-family: 'Orbitron', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;

    background: rgba(0, 0, 0, 0.7) url("home.jpg.jpg");

    background-size: cover;
    background-blend-mode: darken;

}

#card {
    background: transparent;
    color: white;
    border: 1px solid #e3e6e9;
}

.container {
    width: 700px;
    margin: 0 auto;
    height: 88vh;

}

.timer {
    border: 2px solid #e3e6e9;
    height: 150px;

    width: 700px;

}

.display-4 {
    font-size: 3.0rem !important;
}

footer {
    background-color: #1b1b1b;
    padding: 5px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    z-index: 1;
    width: 100%;
}

footer p {
    color: white;
    padding-top: 5px;
    text-align: center;
}

footer p a {
    text-decoration: none;
}